@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;600&display=swap');

:root {
  background: linear-gradient(to right, #638694, #005d7b);
  font-size: 62.5%;
  filter: invert(0);
}

* {
  box-sizing: border-box;
  font-family: "Sono";
  margin: 0;
  padding: 0;
  color: #333;
}

#icon img{
  height: 120px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
  color: #d6eced;
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/*Toggle*/

* {
  box-sizing: border-box;
}
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.2s linear;
}
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
}
.box {
  z-index: 5;
  margin-right: 0rem;
  position: absolute;
  margin-left :1333px;
  top: 0;
  right: 0;
  margin-top: 5rem;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  position: absolute;
  cursor: pointer;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

/* UTILITIES */

.container {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin-left: 38rem ;
  padding: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: -1;
}

.container > * {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #004644;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #004644;
  background-color: rgb(235, 244, 253);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 10rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}
