.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  position: relative;
  top: 1em;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  font-weight: 600;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 6em;
}

.time_left_txt {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.timer_sec {
  text-align: center;
  font-size: 6rem;
  margin-top: 5px;
  color: rgb(34, 110, 169);
  font-weight: 900;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 3rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}
#display{
  border:2px solid black;
  border-radius: 5px;
  width:100%;
  margin-bottom:2px;
  display:block;
}
#display{
  border:2px solid black;
  border-radius: 5px;
  width:100%;
  margin-bottom:2px;
  display:block;
}
/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#question {
  margin-bottom: 0px;
  position: relative;
  bottom: 0.8em;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
  #hud {
    position: relative;
    bottom: 6em;
  }
  #question {
    position: relative;
    bottom: 1em;
  }
  .choice-container {
    position: relative;
    top: 1em;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 40px;
  }
  #hud {
    position: relative;
    bottom: 6em;
  }
  #question {
    position: relative;
    bottom: 1em;
  }
  .choice-container {
    position: relative;
    top: 0.5em;
  }
}

footer{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.next_btn{
  background-color: #56a5eb;
  height: 4rem;
  border: none;
  width: 10rem;
  margin-top: 2.3rem;
  position: relative;
  color: white;
}
.next_btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}